video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.content {
    position: relative;
    z-index: 1;
    color: white;
}

html, body {
  height: 10%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
}

